<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="./images/logo.png" />
    <title id="tituloPagina">How to Create Dyamic Forms in React CRUD</title>
</head>
<body>
    <header>
        <div class="container-fluid fixed-top">        
            <div class="row" id="principal">
                <div class="col-5 d-flex align-content-center">  
                    <nav class="navbar top d-flex justify-content-end d-md-none d-sm-block" id="menu">
                        <div class="container ">
                          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header">
                              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">DEV Community 👩‍💻👨‍💻</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" id="menu__list">
                                <li class="nav-item"><a class="nav-link active" href="#">🏠 Home</a></li>
                                <li class="nav-item"><a class="nav-link active" href="#">📖 Reading List</a></li>
                                <li class="nav-item"><a class="nav-link active" href="#">📃 Listings</a></li>
                                <li class="nav-item"><a class="nav-link active" href="#">🎙 Podcasts</a></li>
                                <li class="nav-item"><a class="nav-link active" href="#">🎥 Videos</a></li>
                                <li class="nav-item"><a class="nav-link active" href="#">🏷 Tags</a></li>
                                <li class="nav-item"><a class="nav-link active" href="#">💡 FAQ</a></li>
                                <li class="nav-item"><a class="nav-link active" href="#">🛍 Forem Shop</a></li>
                                <li class="nav-item"><a class="nav-link active" href="#">♥ Sponsors</a></li>
                                <li class="nav-item"><a class="nav-link active" href="#">⁉ About</a></li>
                                <li class="nav-item"><a class="nav-link active" href="#">📯 Contact</a></li>
                                <li class="nav-item"><a class="nav-link active" href="#">📖 Guides</a></li>
                                <li class="nav-item"><a class="nav-link active" href="#">🤔 Software Comparison</a></li>
                                <li class="nav-item"><a class="nav-link active" href="#">🏠 Home</a></li>
                                <li class="nav-item"><a class="nav-link active" href="#">🏠 Home</a></li>
                              </ul>
                              <div class="offcanvas-subtitle"><h5>Other</h5></div>
                              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" id="menu__list2">
                                <li class="nav-item"><a class="nav-link active" href="#">👍 Code of Conduct</a></li>
                                <li class="nav-item"><a class="nav-link active" href="#">😎 Privacy Policy</a></li>
                                <li class="nav-item"><a class="nav-link active" href="#">📜 Terms of use</a></li>
                              </ul>
                              <div class="aside__icons__all">       
                                <ul>
                                    <li  class="nav-item"> <a href="#"><img src="../img/twitter-svgrepo-com.svg" width="30" height="30" alt="Twitter-icon" /></a></li>
                                    <li  class="nav-item"><a href="#"><img src="../img/facebook-svgrepo-com.svg" width="30" height="30" alt="Facebook-icon" /></a></li>
                                    <li  class="nav-item"><a href="#"><img src="../img/github-svgrepo-com.svg" width="30" height="30" alt="Github-icon" /></a></li>
                                    <li  class="nav-item"> <a href="#"><img src="../img/instagram-alt-svgrepo-com.svg" width="30" height="30" alt="Instagram-logo" /></a></li>
                                    <li  class="nav-item"> <a href="#"><img src="../img/twitch-svgrepo-com.svg" width="30" height="30" alt="twitch-logo" /></a>    </li>
                                </ul>                                                                                  
                              </div>
                            </div>
                          </div>
                        </div>
                      </nav>                    

                 <div class="logo"><a href="../index.html"><img src="../img/logo.png" width="50" height="50" alt=""></a></div>
                    <nav class="navbar" id="search">
                        <div class="container-fluid">
                          <form class="d-flex" role="search" id="form__main">
                            <input class="form-control me-5" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn" type="submit"><img src="../img/searchmagnifierinterfacesymbol1_79893.svg" width="30" height="30" alt=""></button>
                         </form>
                        </div>
                      </nav>
                </div>
                <div class="col" >
                    <div class="gral__icons">
                        <button class="btn btn" type="submit" id="search__main"><img src="../img/searchmagnifierinterfacesymbol1_79893.svg" width="30" height="30" alt=""></button>
                        <a class="btn btn-success" href="#" id="botonEditar">Edit Post</a>
                        <a class="btn btn-danger" href="#" id="botonBorrar">Delete Post</a>
                        <a class="btn btn-primary" href="#" id="botonCrear">Create Post</a>
                        <a href="#"><img src="../img/bell-svgrepo-com.svg" width="30" height="30" alt=""></a>
                        <a href="#"><img src="../img/profile.jpg" width="30" height="30"  class="profile" alt=""></a>
                    </div>
                </div>
            </div>       
        </div>        
    </header>
    <main>
        <div class="container-fluid d-flex justify-content-around">
            <div class="col-2 d-sm-none d-md-block" id="aside__fixed">
              <aside class="side-bar">
                <ul>
                  <li>
                    <!-- <div class="art__heart"> -->
                     <a href=""><img src="../img/heart-svgrepo-com.svg" width="30" height="30" alt=""></a>
                     <p id="likes"></p>
                    <!-- </div> -->
                  </li>
                  <li>
                    <div class="art__comment">
                      <img src="../img/comment-svgrepo-com.svg" width="30" height="30" alt="">
                      <p id="comentarios"></p>
                    </div>
                  </li>
                  <li>
                    <div class="art__save">
                      <img src="../img/bookmark-save-svgrepo-com.svg" width="30" height="30" alt="">
                      <p>4</p>
                    </div>
                  </li>
                  <li>
                     <div class="art__more">...</div>
                  </li>
                </ul>          
              </aside>
            </div>
<!-- articulos -->

            
<!-- other aside -->

            <div class="col-10 d-flex justify-content-between" id="merge__section">
            <div class="container-fluid col-8" id="article__main">
               <!--Card 2-->
                <div class="card">
                    <img class="rounded-top" id="imagenPublicacion" src="" alt="cat photo">
                    <div class="card-body">
                        <div class="container">
                            <div class="container">
                                <img src="" id="imagenUsuario" class="rounded-circle float-start me-4" style="width: 3rem;" alt="Tia Eastwood photo">
                            </div>    
                            <div class="container">
                                <h5 id="nombreUser">
                                    
                                </h5>
                                <small id="fechaPublicacion">
                                    
                                </small>
                            </div>
                        </div>
                        <h1 class="card-title mt-2">
                            <a href="#" id="title-link">
                            </a>    
                        </h1>
                        <div class="card-body" id="cardEtiquetas">
                 
                        </div>

                        <div class="container" id="cardTexto">
                          


                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4" id="aside__article">
              <div class="col sticky-top">
                <div class="card bg-light mb-3" id="aside__article--card">
                    <div class="card-body w-100 h-100 p-0 d-flex flex-column justify-content-around">
                        <div class="aside__header">
                            <a class="d-flex flex-row align-items-end ms-3 h-100" href="#">
                                <span class="me-3 h-100" id="article__img"><img class="aside__img rounded-circle w-100 h-75" src="../img/profile.jpg" alt=""></span>
                                <span id="card__title"><h2 class="mb-0 d-flex align-items-end pt-2">Sm0ke</h2></span>
                            </a>
                        </div>
                        <div class="card__btn d-flex justify-content-center mt-3 mb-3 w-100 h-100">
                            <a href="#" class="btn" id="btn__first">Follow</a>
                        </div>
                        <ul class="card-text list-group">
                            <li>
                                <p class="article__li w-100 h-100 text-muted">#Automation, my favorite programming language </p>
                            </li>
                            <li>
                                <p id="li__title">LOCATION</p>
                                <P class="text-muted">Constanta, Romania</P>
                            </li>
                            <li>
                                <p id="li__title">EDUCATION</p>
                                <P class="text-muted">Hack Land</P>
                            </li>
                            <li>
                                <p id="li__title">WORK</p>
                                <P class="text-muted">Founder @ AppSeed.us </P>
                            </li>
                            <li>
                                <p id="li__title">JOINED</p>
                                <P class="text-muted">3 abr 2019</P>
                            </li>
                        </ul>
                        
                    </div>
                </div>
                <div class="card bg-light" id="aside__article--card2">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex card__item" id="card__article--li2">
                            <h5>More from <a href="#">Sm0ke</a></h5>
                        </li>
                        <li class="list-group-item" id="card__li">
                            <a id="aside__article--li" href="#">Flask & Stripe eCommerce - Deploy LIVE on Render</a>
                            <h6 class="mt-2 text-muted">
                                <ul class="d-flex flex-row flex-wrap w-100 ps-0">
                                    <li>#webdev</li>
                                    <li>#stripe</li>
                                    <li>#flask</li>
                                    <li>#ecommerce</li>
                                </ul>
                            </h6>
                        </li>
                        <li class="list-group-item" id="card__li">
                            <a id="aside__article--li" href="#">Django & Docker - SQLite, MySql, and PostgreSQL samples</a>
                            <h6 class="mt-2 text-muted">
                                <ul class="d-flex flex-row flex-wrap w-100 ps-0">
                                    <li>#webdev</li>
                                    <li>#docker</li>
                                    <li>#django</li>
                                    <li>#opensource</li>
                                </ul>
                            </h6>
                        </li>
                        <li class="list-group-item" id="card__li">
                            <a id="aside__article--li" href="#">Deploy Flask with Drag & Drop - Bootstrap 5 Design</a>
                            <h6 class="mt-2 text-muted">
                                <ul class="d-flex flex-row flex-wrap w-100 ps-0">
                                    <li>#webdev</li>
                                    <li>#deployment</li>
                                    <li>#flask</li>
                                    <li>#appseed</li>
                                </ul>
                            </h6>
                    </ul>
                </div>
            </div>
            </div>
          </div>
        </div>
       
    </main>
    <footer class="footer__text">
      <div>
        <a href="#">DEV Community 👩‍💻👨‍💻</a>— A constructive and inclusive social network for software developers. With you every step of your journey.
         Built on <a href="#"> Forem</a>— the <a href="#">open source</a> software that powers <a href="#">DEV</a> and other inclusive communities.
          Made with love and <a href="#">Ruby on Rails</a>. DEV Community 👩‍💻👨‍💻 © 2016 - 2022.            
     </div>
     <div class="footer__img">
         🌱
     </div>
    </footer>
    <section class="fixed-bottom" id="all__footer">
      <div class="container-fluid d-flex">
        <ul class="">
          <li>
             <div class="art__heart">
             <img src="../img/heart-svgrepo-com.svg" width="20" height="20" alt="">
             <span>4</span>
            </div>
          </li>
          <li>
            <div class="art__comment">
              <img src="../img/comment-svgrepo-com.svg" width="20" height="20" alt="">
              <span>0</span>
            </div>
          </li>
          <li>
            <div class="art__save">
              <img src="../img/bookmark-save-svgrepo-com.svg" width="20" height="20" alt="">
              <span>4</span>
            </div>
          </li>
          <li>
             <div class="art__more">...</div>
          </li>
        </ul>          
      </div>
    </section>
    <script src="../javaScript/articulo.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>
      